/*About us*/

body {
    
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}
  .video-bg {
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  .bg-video {
    position: absolute; /* Ensures that the video can adjust positioning as needed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the video perfectly */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
  }
  
  .orionengine-ensemble {
    display: flex;
    align-items: center;
    justify-content: start;
    
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 20px auto;
  }
  
  .title h1 {
    color:#f9433dcc;
    margin: 0;
    font-size: 50px;
    padding: 0 60px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--darkgray);
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .about-section {
    padding: 40px;
  }
  
  .about-content {
    font-size:20px;
    background-color: var(--darkgray);
    padding: 30px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-content h2 {
    color:#f9433dcc;
    margin-bottom: 15px;
    margin-top: -50px;
  }
  
  .team-section h2 {
    color:#f9433dcc;
    margin-left: 330px;
    margin-top: -20px;
    margin-bottom: 15px;
  }
  
  .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .team-member {
    background-color: var(--darkgray);
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .github-link {
    text-align: center;
    margin-top: 20px;
    background-color: var(--darkgray);
    padding: 20px;
    border-radius: 8px;
  }
  
  a {
    color:#f9433dcc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
 
