extends ../layout.pug

block content
    // Main title for the city data page
    h3.text-center.mb-4.city-heading Capital City Information

    // Message to display when there are no capital cities
    p.text-center No capital cities found.
