extends ../layout.pug

block content
    // Main title for the city data page
    h3.text-center.mb-4.city-heading City Information

    // query returned no cities
    p.text-center No cities found in the database.