//- extends layout.pug

//- block content
//-     // Main title for the languages page
//-     h3.text-center.mb-4.language-heading Languages Information
    
//-     // Table to display language data
//-     table
//-         thead
//-             tr
//-                 th Index
//-                 th Language
//-                 th Total No of Speakers
//-                 th Overall World's Percentage (%)
        
//-         // Body of the table containing the language data
//-         tbody
//-             // Serial number initialization for language entries
//-             - var index = 0
//-             // Iteration over each language to populate the table
//-             each language in languages
//-                 - index++
//-                 tr
//-                     td= index
//-                     td= language.name
//-                     td= language.speakers.toLocaleString()
//-                     td= (language.percentage.toFixed(2)) + '%'
