extends layout.pug

block additionalStyles
  link(rel="stylesheet", href="signup.css")
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')

block content
  .video-bg
    video.bg-video(autoplay, loop, muted)
      source(src="IMG_2507.MOV", type="video/mp4")
  .signup-wrapper
    form(action="")
      h1 Sign Up
      .signup-input-box
        input(type="text", placeholder="Username", required)
        i.bx.bxs-user
      .signup-input-box
        input(type="email", placeholder="Email", required)
        i.bx.bx-envelope
      .signup-input-box
        input(type="password", placeholder="Password", required)
        i.bx.bxs-lock-alt
      .signup-input-box
        input(type="password", placeholder="Confirm Password", required)
        i.bx.bxs-lock
      button.signup-btn(type="submit") Sign Up
      .register-link
        p
          | Already have an account? 
          a(href="/login") Log In
