extends layout.pug

block additionalStyles
  link(rel="stylesheet", href="sub_dashboard.css")
  link(rel="stylesheet", href="style.css")
block content
  .video-bg
    video.bg-video(autoplay, loop, muted)
      source(src="IMG_2507.MOV", type="video/mp4")
  main
    h1 Population Data Dashboard
    .data-sections
     a(href="/countries")
      section.data-card
        img(src="countries.png", alt="")
        h2 Country Reports
        p Explore population data of Countries

     a(href="/cities") 
      section.data-card  
        img(src="cities.png", alt="")
        h2 City Reports
        p Explore population data of Cities

     a(href="/capitalCities") 
      section.data-card
        img(src="capital_cities.png", alt="")
        h2 Capital City Reports
        p Explore population data of Capital Cities

     a(href="/languages")
      section.data-card
        img(src="languages.png", alt="")
        h2 Language Report
        p Explore population data of Languages