// mixins/navigation.pug

mixin navigation
  nav
    img(src="Group_Logo.png" alt="Logo" class="navbar-logo")
    a(href='/') Home
    a(href='/aboutus') About Us
    a(href='/login') Login
    a(href='/signup') Sign Up
    a(href='/cities') Cities
    a(href='/languages') Languages
