*{
    margin: 0;
    padding: 0;
}
img{
    width: 150pxl;
    padding: 0;
    margin: -130px;
}

.full-web{
    width: 1080px;
    margin: auto;
    text-align: center;
}


.form {
    width: 650px;
    margin: 0px auto;
    padding: 10px 0px 0px 0px;
    display: inline-block; 
}

input[type="submit"] {
    margin-top: 10px;
}

body {
    font-family: 'Kalam', cursive; 
}
a {
    text-decoration: none; 
    color: black; 
    
    
}

