extends layout.pug

block content
    doctype html
    html(lang='en')
        head
            meta(charset='UTF-8')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title OrionEngine Ensemble
            style.
                body {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    margin: 0;
                    padding: 0;
                    background-color: #e8eff1;
                    color: #083d77;
                }
                .header-container {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding: 20px;
                    background-color: #ffffff;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                    max-width: 800px;
                    margin: auto;
                }
                .logo {
                    height: 200px;
                    margin-right: 20px;
                }
                .title h1 {
                    color: #da4167;
                    margin: 0;
                    font-size: 24px;
                }
                .container {
                    max-width: 800px;
                    margin: auto;
                    padding: 20px;
                    background-color: #ffffff;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                    margin-top: 20px;
                }
                .member {
                    margin-bottom: 20px;
                }
                .member:last-child {
                    margin-bottom: 0;
                }
                .member h2 {
                    margin-top: 0;
                }
                .github-link {
                    text-align: center;
                    margin-top: 20px;
                }
                a {
                    color: #da4167;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
        body
            .header-container
                img.logo(src='Group_Logo.png', alt='OrionEngine Ensemble Logo')
                .title
                    h1 Software Engineering Sprints - OrionEngine Ensemble
            .container
                section.member
                    h2 Sudip Thapa Magar (Scrum Master)
                section.member
                    h2 Rajababu Kushwaha (Product Owner)
                section.member
                    h2 Ohiduzzaman Ohid (Scrum)
                section.member
                    h2 Shahadat Hossain Joy (Scrum)
                section.member
                    h2 Khasan Kodirov (Scrum)
                .github-link
                    a(href='https://github.com/SazamAmmy/Software-Engineering-Sprints--OrionEngine-Ensemble', target='_blank') Project GitHub Link
