extends layout.pug

block content
  .hero
    video(autoplay loop muted plays-inline)
      source(src="HomePageBackgroundVid.MOV" type="video/mp4" class="backvideo")
    p We are the leading population tracking system in the market, offering unparalleled quality service. Our innovative solutions provide real-time insights and analytics, helping businesses and organizations make informed decisions based on accurate population data. Trust us to empower your operations with the data you need when you need it.
