// layout.pug

doctype html
html
  head
    link(rel="stylesheet", href="/pstyle.css")
    link(rel="stylesheet", href="/cities.css")
    block head
  body
    header.site-header
      include mixins/nav
      +navigation()
    main.layout-content
      block content