extends ../layout.pug

block content
    // Main title for the city data page
    h3.text-center.mb-4.city-heading Country Information

    // Message to display when there are no countries
    p.text-center No countries found.